nav {
  font-weight: bolder;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.abc {
  display: inline;
  text-align: center;
}
/* forregister company symbol */
img.second-img {
  width: 420px;
  height: 324px;
}
